h3 {
  text-align: center;
}

#sub-form.container-fluid {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
  width: 60%;
}

#sub-form.container-fluid .btn-default{
  background-color: red;
  color: white;
  border: 2px solid #9A8100;
  margin-top: 5px;
}

