
/* Background image for homepage */
html {
}

/* Home page footer */
#hp-footer.footer {
  background: inherit;
  border-top: none;
  text-align: center;
}

#hp-footer.footer p {
  color: white;
}

.container-fluid {
  text-align: center;
}

.container-fluid .btn {
  padding: 14px 24px;
  font-size: 30px;
  background-color: inherit;
  border: 20px solid white;
  color: white;	
  margin-top: 100px;
  border-radius: 0px;
}

.container-fluid .btn:hover {
  border-color: #9a8100;
  color: #9a8100;
}
