
/* Background image for homepage */
html {
  background: url('../photos/limehouse.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Home page footer */
#hp-footer.footer {
  background: inherit;
  border-top: none;
  text-align: center;
}

#hp-footer.footer p {
  color: white;
}

.container {
  text-align: center;
}

.container .btn {
  padding: 14px 24px;
  font-size: 30px;
  background-color: inherit;
  border: 20px solid white;
  color: white;	
  margin-top: 100px;
  border-radius: 0px;
}

.container .btn:hover {
  border-color: #9a8100;
  color: #9a8100;
}
